<body data-smooth-scroll-offset="77">
        <div class="nav-container"> </div>
        <div class="main-container">
            <section class="switchable imagebg height-100" data-overlay="6">
                <div class="background-image-holder"><%= image_tag "breather-163395.jpg" %></div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-5 col-sm-7 switchable__text">
                            <h1>Cohort Analysis made simple</h1>
                            <p class="lead">Your data tells you so much... Find out whether your marketing spend is allocated efficiently, compare your ROI week-over-week, and act quickly based on your learnings.<br></p>
                        </div>
                        <div class="col-sm-6">
                            <div class="boxed boxed--lg bg--white boxed--border boxed-form">
                                <h4>BETA - Download the FREE Cohort Analysis Tool</h4>
                                <p>Don't waste your time - get the template now! We will exclusively invite you to our easy to use online interface soon!</p>
                                <form action="https://xxx.us14.list-manage.com/subscribe/post?u=5f82e40c00947abc6f4581675&amp;id=431f283233" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name, email address and agree to the terms."> <input class="validate-required" type="text" name="NAME" placeholder="Your Name"> <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> <input class="validate-required" type="checkbox" name="group[13737][1]"> <span>I agree to receive the tool and invitation to the beta</span> <button type="submit" class="btn btn--primary type--uppercase">Request&nbsp;it Now</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-6 switchable__text">
                            <h2>Cohort Analysis for Business</h2>
                            <p class="lead"> We experienced ourselves how cumbersome it is to generate weekly reports manually, import data from different sources, clean the data, &nbsp;etc.<br><br>So we developed the most intuitive and easy-to-use interface for Cohort Analysis. Set up once, don't worry about it again. Take your Cohort Analysis to the next level.<br></p>
                            <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
                        Get it now</span> </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-md-pull-1 col-xs-12">
                            <div class="boxed boxed--lg boxed--border box-shadow-wide">
                                <div class="slider" data-paging="true" data-timing="3000">
                                    <ul class="slides">
                                        <li class="col-xs-12">
                                            <div class="feature feature-3 text-center"> <i class="icon color--primary icon-Sync-Cloud icon--lg"></i>
                                                <h4>Data Integrations</h4>
                                                <p>Connect your data easily from Google Adwords, Mixpanel, Segment, custom SQL databases and many more...</p>
                                                <a href="#"> </a>
                                            </div>
                                        </li>
                                        <li class="col-xs-12">
                                            <div class="feature feature-3 text-center"> <i class="icon color--primary icon-Hand-Touch icon--lg"></i>
                                                <h4>Easy Drag &amp; Drop</h4>
                                                <p> Taking ages to get your data in the right format and change formulas? With our intuitive interface even a monkey can do the job</p>
                                                <a href="#"> </a>
                                            </div>
                                        </li>
                                        <li class="col-xs-12">
                                            <div class="feature feature-3 text-center"> <i class="icon color--primary icon-Security-Check icon--lg"></i>
                                                <h4>Data Security</h4>
                                                <p> We only import the relevant columns from your data, thus leaving your data completely anonymous. Most recent security standards included.<br></p>
                                                <a href="#"> </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="tabs-container" data-content-align="left">
                    <ul class="tabs tabs--spaced">
                        <li class="active">
                            <div class="tab__title text-center"> <i class="icon block icon-Cloud- icon--sm"></i> <span class="h5"><p>Pull in the Data</p></span> </div>
                            <div class="tab__content">
                                <div class="container switchable">
                                    <div class="row">
                                        <div class="col-sm-7"> <%= image_tag "device-6.png" %> </div>
                                        <div class="col-sm-5 col-md-4">
                                            <div class="mt--1">
                                                <h3>Easily &amp; anonymously synchronise your data</h3>
                                                <p class="lead"> We are offering a wide variety of integrations to hassle-free pull your data in. And in case you cannot find your tool yet, just upload a CSV instead.</p>
                                                <hr class="short">
                                                <p> All the data you integrate will be anonymised and NOT used or sold in any way. We care about Cohort Analysis, not your data.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="tab__title text-center"> <i class="icon block icon-Brain icon--sm"></i> <span class="h5"><p>Group and Analyse</p></span> </div>
                            <div class="tab__content">
                                <div class="container switchable switchable--switch">
                                    <div class="row">
                                        <div class="col-sm-7"> <%= image_tag "breather-163395.jpg" %> </div>
                                        <div class="col-sm-5 col-md-4">
                                            <div class="mt--1">
                                                <h3>Draw actionable conclusions</h3>
                                                <p class="lead">The single most important thing for your business is knowing the numbers. Making sense of them though has never been more difficult.<br><br>With our drag&amp;drop interface, Cohort Analysis Reports become as easy as buying a coffee.</p>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab__title text-center"> <i class="icon block icon-Bar-Chart2 icon--sm"></i> <span class="h5"><p>Visualise Results</p></span> </div>
                            <div class="tab__content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-7"> <%= image_tag "device-2.png" %> </div>
                                        <div class="col-sm-5 col-md-4">
                                            <div class="mt--1">
                                                <h3>Communicate the Knowledge</h3>
                                                <p class="lead"> Not everybody understands ratios, indicators and metrics you are used to. <br><br>Just convert your results into visual graphs, CSV, or PDF and impress your colleagues with easily understandable recommendations.</p>
                                                <hr class="short">
                                                <p>Do you need help with your reports? Just send us a support request via chat or email us&nbsp;<a href="mailto:support@cohortanalysis.co">here</a>.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="testimonial testimonial-2">
                                <div class="testimonial__body boxed boxed--border bg--secondary">
                                    <p>Ever since I worked in BI at a startup I had to spend hours every week to generate new cohort analyses. This Cohort Analysis tool helps me so much!</p>
                                </div>
                                <div class="testimonial__image text-center">
                                    <h5>Yanick</h5> <span>Berlin, DE</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="testimonial testimonial-2">
                                <div class="testimonial__body boxed boxed--border bg--secondary">
                                    <p> Meeting deadlines for reports was almost impossible when Cohort Analysis was involved. With this tool I send the reports AUTOMAGICALLY...</p>
                                </div>
                                <div class="testimonial__image text-center">
                                    <h5>Anna</h5> <span>Frankfurt, DE</span> </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="testimonial testimonial-2">
                                <div class="testimonial__body boxed boxed--border bg--secondary">
                                    <p> The Cohort Analysis Team is just amazing. Besides delivering what they promise, they also helped me a lot with the initial setup, when I was stuck.</p>
                                </div>
                                <div class="testimonial__image text-center">
                                    <h5>Frank</h5> <span>Berlin, DE</span> </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="testimonial testimonial-2">
                                <div class="testimonial__body boxed boxed--border bg--secondary">
                                    <p>Totally happy I found this product. They are adding integrations every week and they are open to new feature requests. Perfect!</p>
                                </div>
                                <div class="testimonial__image text-center">
                                    <h5>Stefanie</h5> <span>Munich, DE</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <h2>Get the Free Cohort Analysis Tool Now!</h2>
                                <p class="lead"> Did you know? We are working on a fully integrated online solution for you! Send us your feedback and get invited to the free closed BETA.<br>
                                <a href="mailto:support@cohortanalysis.co?Subject=Feedback%20to%20CohortAnalysis" target="_top">support@cohortanalysis.co</a></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bg--secondary boxed boxed--border boxed--lg">
                                <form action="https://xxx.us14.list-manage.com/subscribe/post?u=5f82e40c00947abc6f4581675&amp;id=431f283233" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name, email address and agree to the terms."> <input class="validate-required" type="text" name="NAME" placeholder="Your Name"> <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> <input class="validate-required" type="checkbox" name="group[13737][1]"> <span>I agree to receive the tool and invitation to the beta</span> <button type="submit" class="btn btn--primary type--uppercase">Request&nbsp;it Now</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="text-center-xs space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7"> <span class="type--fine-print">© <span class="update-year">2017</span> Cohort Analysis</span>
                        </div>
                        <div class="col-sm-5 text-right text-center-xs"> <a class="type--fine-print" href="mailto:support@cohortanalysis.co">support@cohortanalysis.co</a> </div>
                    </div>
                </div>
            </footer>
        </div>




    </body>

